*{
    margin: 0;
    padding: 0;
}
h2 {
  margin-top: 40px;
  text-align: center;
}
body{
      margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: flex-start;  
    min-height: 100vh;       
    font-family: Arial, sans-serif;
    background-color: #aa7f7f;
    border: #282f4b;
}
.container{

    margin-top: 20px;
    width: 300px;             
    padding: 20px;
    border-radius: 8px;
    background-color:#edcdc2;
    min-height: 45vh;
    color:#041453;
    box-shadow: 10px 10px 5px #3a0617;
}
.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}
form{
    margin: 2rem 0 2rem 0;
}
form select,button, input{
    width: 100%;
    border: none;
    outline: none;
    background-color: #3a0617;
    color: #f6e6e1

}

form input{
    border: 1px solid #041453;
    height:3rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.select-container img{
    max-width: 1.75rem;
}
.select-container{
    display: flex;
    width: 6rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.select-container select {
    font-size: 1rem;
    width:auto;
}
.msg{
    margin: 2rem 0 2rem 0;
}
form button {
    height: 3rem;
    background-color: #3a0617;
    font-size: 1rem;
    cursor: pointer;
    
}